ul #menu{
list-style:none;
}

#menu li{
height:30px;
text-align:left;
}

#menu li a{
padding: 0 6px;
float:none;
display:block;
color:#000;
width:250px;
font:normal 12px/30px arial;
heitht:auto;
border:1px solid #000;
}

ul#menu a:hover{
background-color:#484848;
border: 1px solid #000;
color:#fff;
}

ul #menu li{
float:left;
display:block;
list-style:none;
background-color:#224874;
}





h1{
font: bold  18px/30px arial;
}
